/* ::::::::::::::::::::::::::::
:: Medium Screen Desktop: 992px
:::::::::::::::::::::::::::: */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .logo_area {
        padding: 33px 0;
    }

    .call_to > h3 {
        display: block;
    }

    .call_to_action_button {
        margin-top: 30px;
    }

    .single-accordion h5 a {
        padding: 15px;
    }

    .sign_in_facebook,
    .sign_in_twitter {
        padding: 8px;
    }

    .single_slide .slide_text h2 {
        font-size: 32px;
    }

    .single_slide .slide_text h3 {
        font-size: 16px;
    }

    .single_slide .slide_text a {
        padding: 10px 20px;
    }

    .single_slide {
        height: 450px;
    }
}

/* ::::::::::::::::::::
:: Tablet Screen:768px
:::::::::::::::::::: */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header nav#navbar ul > li > a,
    .logo_area {
        padding: 34px 5px;
    }

    .cart_area {
        padding-left: 5px;
    }

    .footer_about_us,
    .footer_upcoming_event {
        min-height: 200px;
    }

    .single_slide .slide_text h2 {
        font-size: 26px;
    }

    .single_slide .slide_text h3 {
        font-size: 14px;
    }

    .single_slide .slide_text a {
        padding: 8px 16px;
        margin-top: 20px;
    }

    .single_slide {
        height: 400px;
    }

    .notification > h3 {
        font-size: 14px;
        padding-left: 30px;
    }

    .notification > h3:before,
    .notification.fail > h3:before {
        font-size: 12px;
        height: 20px;
        left: 0;
        line-height: 20px;
        top: 5px;
        width: 20px;
    }

    .special_area_image,
    .about_us_thumb {
        margin-top: 50px;
    }

    .map_contact_address_area {
        margin-bottom: 50px;
    }

    .map_contact_address_area.contact-3 {
        margin-bottom: 0;
    }

    .continue_shop_button input,
    .continue_shop_button > a,
    .checkout_button > a {
        padding: 15px;
    }

    .cool_fact_text {
        padding: 15px 0;
    }

    .subscribe_bar button {
        width: 20%;
    }

    .subscribe_bar input {
        width: 40%;
    }

    .call_to > h3 {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .blog_area {
        padding-bottom: 70px;
    }

    footer.footer_area .col-sm-6:nth-child(3),
    footer.footer_area .col-sm-6:nth-child(4) {
        margin-top: 50px;
    }

    .contact_address_title {
        padding-bottom: 30px;
    }

    .single_contact_address {
        text-align: center;
    }

    .contact_address_area {
        padding: 25px 0;
    }

    .login_area .login_form {
        margin-top: 50px;
    }

    .register_form {
        margin-top: 50px;
    }

    .event_sidebar {
        margin-top: 50px;
    }
}

/* ::::::::::::::::::::
:: Mobile Layout:320px
:::::::::::::::::::: */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .mobile_header {
        height: 50px;
        position: relative;
        width: 100%;
    }

    .special_area_image,
    .about_us_thumb {
        margin-top: 50px;
    }

    .mobile_header .support_text {
        padding: 17px 0;
    }

    .login_register .login i,
    .login_register .login > a {
        color: #2c3e50;
    }

    .login_register .login:hover i,
    .login_register .login:hover > a {
        color: #3498db;
    }

    .logo_area img {
        width: 130px;
    }

    .main_header_area {
        height: 60px;
    }

    .logo_area {
        padding: 18px 0;
    }

    .cart_area {
        margin: 18px 0;
    }

    .footer_area {
        padding-top: 0;
    }

    .copywrite_text {
        padding: 30px 0;
        text-align: center;
    }

    header {
        position: absolute;
        z-index: 99999;
    }

    .welcome_area,
    .breadcumb_area {
        padding-top: 110px;
    }

    .single_slide .slide_text h2 {
        font-size: 22px;
    }

    .single_slide .slide_text h3 {
        font-size: 14px;
    }

    .single_slide .slide_text a {
        padding: 8px 15px;
        margin-top: 20px;
    }

    .single_slide {
        height: 350px;
    }

    .modal-dialog {
        margin: 120px auto;
        width: 300px;
    }

    .login_wrap .title > h3 {
        font-size: 16px;
    }

    .login_manual_form {
        margin-top: 30px;
    }

    .domain_search_area .form-control.search_box {
        margin-right: 1%;
        width: 70%;
    }

    .domain_search_area .btn.btn-default.submit_btn {
        width: 29%;
    }

    .domain_search_area {
        padding-bottom: 45px;
    }

    .notification > h3 {
        font-size: 14px;
        padding-left: 30px;
    }

    .notification > h3:before,
    .notification.fail > h3:before {
        font-size: 12px;
        height: 20px;
        left: 0;
        line-height: 20px;
        top: 5px;
        width: 20px;
    }

    .add_to_cart_btn {
        float: none !important;
    }

    .domain_name {
        display: block;
        padding-top: 0;
    }

    .single_advisor_slide {
        margin-top: 0;
    }

    .single_advisor_details_info {
        padding: 15px;
    }

    .advisor_thumb {
        top: 15px;
        left: 15px;
        right: 15px;
        position: relative;
        width: calc(100% - 30px);
        z-index: 99;
        margin-bottom: 30px;
    }

    .our_advisor_area .owl-prev,
    .our_advisor_area .owl-next {
        top: -35px;
    }

    .our_advisor_area .owl-next {
        right: 15px;
    }

    .our_advisor_area .owl-prev {
        right: 60px;
    }

    .map_contact_address_area {
        margin-bottom: 50px;
    }

    .map_contact_address_area.contact-3 {
        margin-bottom: 0;
    }

    .map_area {
        height: 200px;
        width: 100%;
    }

    .pager .previous > a,
    .pager .next > a {
        padding: 5px 0;
        width: 120px;
        font-size: 13px;
    }

    a.continue_button {
        margin-top: 15px;
    }

    .coupon {
        margin-bottom: 50px;
    }

    .re_customer_coupon_code input.coupon_code {
        margin-bottom: 10px;
        width: 100%;
    }

    table.item_des th {
        font-size: 12px;
    }

    .single_latest_news_img_area {
        position: relative;
        width: 100%;
        z-index: 9;
    }

    .single_latest_news_text_area {
        padding: 15px;
    }

    .published_date {
        left: 15px;
    }

    .call_to > h3 {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .faq_sidebar {
        margin-top: 50px;
    }

    .c_logo,
    .subscribe_bar {
        margin-bottom: 30px;
    }

    .subscribe_bar > p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .subscribe_bar button {
        width: 50%;
        margin-top: 15px;
        height: 40px;
    }

    .subscribe_bar input {
        width: 100%;
        height: 40px;
    }

    .cooming_soon_area .coming_soon_timer #clock > span {
        font-size: 18px;
    }

    .cooming_soon_area .coming_soon_timer #clock {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .social_share_area > a {
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    .status_bar > p {
        font-size: 14px;
        line-height: 21px;
    }

    .status_bar {
        margin-bottom: 30px;
    }

    .singl-blog-status-bar > span:nth-child(4) {
        float: none;
    }

    .event_sidebar {
        margin-top: 50px;
    }

    .cool_fact_text {
        margin-bottom: 30px;
    }

    .cool_facts_area {
        padding-bottom: 30px;
    }

    footer.footer_area .col-sm-6 {
        margin-top: 50px;
    }

    footer.footer_area .col-sm-6:last-child {
        margin-top: 0;
    }

    .single_latest_news_area {
        margin-bottom: 30px;
    }

    .blog_area {
        padding-bottom: 70px;
    }

    .basic_contact_area {
        margin-bottom: 50px;
    }

    .important_links {
        margin-top: 50px;
        text-align: left;
    }

    .page_title {
        display: none;
    }

    .login_area .login_form {
        margin-top: 0;
    }

    .register_form,
    .login_form {
        height: auto;
        padding: 15px;
    }

    .register_form .form-group:last-child {
        margin-bottom: 0;
    }

    .sign_in_facebook,
    .sign_in_twitter {
        display: block;
        padding: 8px;
    }

    .sign_in_twitter {
        margin-left: 0;
        margin-top: 15px;
    }

    .register_form {
        margin-top: 0;
    }

    #scrollUp {
        display: none !important;
    }

    .price_plan_area {
        padding-bottom: 50px;
    }

    .price_plan_area .single_price_plan {
        margin-bottom: 50px;
    }

    .accordions {
        margin-bottom: 50px;
    }

    .coupon_code {
        width: 140px;
    }
}

/* ::::::::::::::::::::::::::
:: Width Mobile Layout:480px
:::::::::::::::::::::::::: */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .event_single_post {
        margin-bottom: 30px;
    }

    .re_customer_coupon_code input.coupon_code {
        width: auto;
    }

    .published_date {
        left: 15px;
        top: 25px;
    }

    .learn_more_button > a {
        margin-left: 15px;
        padding: 20px;
    }

    .sign_in_facebook,
    .sign_in_twitter {
        display: inline-block;
        padding: 8px;
    }

    .register_form,
    .login_form {
        height: auto;
    }

    .sign_in_facebook,
    .sign_in_twitter {
        padding: 5px;
    }

    .sign_in_facebook > a,
    .sign_in_twitter > a {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    .page_title {
        display: inline-block;
    }
}